.headline\:1 {
  font-family: var(--font-sans);
  font-size: var(--scale-40px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

.headline\:2 {
  font-family: var(--font-sans);
  font-size: var(--scale-24px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

.headline\:3 {
  font-family: var(--font-sans);
  font-size: var(--scale-18px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

.headline\:4 {
  font-family: var(--font-sans);
  font-size: var(--scale-14px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

.headline\:5 {
  font-family: var(--font-sans);
  font-size: var(--scale-14px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

.headline\:6 {
  font-family: var(--font-sans);
  font-size: var(--scale-12px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-salemsfur);
}

/**
 * allow
 * text-align: right
 */
.text {
  font-size: var(--scale-16px);
  font-family: var(--font-sans);
  line-height: var(--line-170);
  color: var(--color-trout);
}

.text\:bold {
  font-family: var(--font-sans);
  font-size: var(--scale-16px);
  font-weight: var(--font-bold);
  line-height: var(--line-170);
  color: var(--color-trout);
}

.text\:grey {
  font-family: var(--font-sans);
  font-size: var(--scale-12px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-manatee);
}

/**
 * allow
 * text-align: right
 */
.text\:light {
  font-family: var(--font-sans);
  font-size: var(--scale-12px);
  line-height: var(--line-150);
  color: var(--color-manatee);
}

.text\:small {
  font-family: var(--font-sans);
  font-size: var(--scale-12px);
  line-height: var(--line-150);
  color: var(--color-salemsfur);
}

.text\:extra-small {
  font-family: var(--font-sans);
  font-size: var(--scale-10px);
  line-height: var(--line-120);
  color: var(--color-trout);
}

.text\:magenta {
  font-family: var(--font-sans);
  font-size: var(--scale-14px);
  font-weight: var(--font-bold);
  line-height: var(--line-120);
  color: var(--color-magenta);
}
