.layout {
  display: grid;
  grid-gap: var(--gap);
  grid-auto-flow: var(--layout);
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: var(--vertical-align);
  justify-content: var(--horizontal-align);
}

@media (min-width: 960px) {
  .layout {
    grid-auto-flow: var(--layout-desktop, var(--layout));
  }
}

.layout\:stack {
  display: grid;
}

.layout\:columns {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--num-columns), 1fr);
}

.v-align\:top {
  align-items: start;
}

.v-align\:center {
  align-items: center;
}

.v-align\:bottom {
  align-items: end;
}

.h-align\:top {
  justify-content: start;
}

.h-align\:center {
  justify-content: center;
}

.h-align\:bottom {
  justify-content: end;
}
