.layout {
  display: grid;
  grid-gap: var(--gap);
  grid-auto-flow: var(--layout);
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: var(--vertical-align);
  justify-content: var(--horizontal-align);
}

@media (min-width: 960px) {
  .layout {
    grid-auto-flow: var(--layout-desktop, var(--layout));
  }
}
