.layout\:cols {
  display: grid;
  grid-auto-flow: row;
}

.layout\:companion {
  display: grid;
  grid-template-columns: repeat(2, 12px) 221px repeat(2, 12px) 48px 633px 48px;
  grid-template-areas: ". . companion . . . content .";
}

.layout\:companion\:place\:companion {
  grid-area: companion;
}

.layout\:companion\:place\:content {
  grid-area: content;
}

.layout\:companion\:companion {
  grid-column: 2 / 5;
}

.layout\:companion\:content {
  grid-column: 7 / 8;
}

.w\:page {
  display: grid;
}

.v\:top {
  display: grid;
  align-items: start;
}

.v\:center {
  display: grid;
  align-items: center;
}

.v\:bottom {
  display: grid;
  align-items: end;
}

.h\:top {
  display: grid;
  justify-content: start;
}

.h\:center {
  display: grid;
  justify-content: center;
}

.h\:bottom {
  display: grid;
  justify-content: end;
}
