.w\:page {
  display: grid;
  grid-template-columns: var(--width-page);
}

.v\:top {
  display: grid;
  align-items: start;
}

.v\:center {
  display: grid;
  align-items: center;
}

.v\:bottom {
  display: grid;
  align-items: end;
}

.h\:top {
  display: grid;
  justify-content: start;
}

.h\:center {
  display: grid;
  justify-content: center;
}

.h\:bottom {
  display: grid;
  justify-content: end;
}
